@import 'base';
@import 'variables';

.contact-section {
    height: 100vh;
    background-color: $gray-dark-1;

    .section-container {
        gap: 200px;
    }

    .info-container {
        width: 500px;
        height: 345px;
        padding: 50px;
        background: linear-gradient(128deg, rgba(51,51,51,1) 20%, rgb(65, 65, 65) 73%);

        .btn {
            margin-top: 40px;
            background-color: transparent;
            border-radius: 5px;
            border: 3px solid $white;
        }

        .white-text {
            margin: 10px 0;
            text-wrap: balance;
            text-align: center;
        }
    }

    .contact-form-container {
        width: 600px;
    }

    .contact-form {
        width: 100%;
        gap: 80px;
    }

    .input-group {
        width: 100%;
        gap: 10px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 100%;
            height: 3px;
            background-color: $white;
            left: 0;
        }

        .form-input {
            width: 100%;
            background-color: transparent;
            border: none;
            font-size: $font-size;
            color: $white;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    .form-group {
        width: 100%;

        .input-group {
            width: calc(50% - 20px);
        }
    }

    .send-btn {
        align-self: flex-start;
        width: 50%;
    }

    .notification-container {
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        padding: 20px;
        background-color: $blue-1;
        border-radius: 15px;
        transition: all 0.6s ease;
        opacity: 0;

        .notification-text {
            max-width: 240px;
            text-wrap: wrap;
        }

        .notification-close {
            cursor: pointer;
            width: 20px;

            i {
                font-size: 2rem;
            }
            
        }

        &.show {
            opacity: 1;
        }
    }
}

