/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/* Project wide */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.box-shadow, .testimonial-card-container {
  box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
}

.container-row, .btn, .img-container, .container-col, .section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col, .section {
  flex-direction: column;
}

.section {
  width: 100%;
  background: #f5f5f5;
  padding: 100px 0;
}

.section-container {
  width: 1400px;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.img-100a {
  width: 100%;
  height: auto;
}

.dark-text {
  color: #333333;
  font-size: 1.5rem;
}

.white-text {
  color: #ffffff;
  font-size: 1.5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

.center-text {
  text-align: center;
}

.btn {
  font-size: 1.5rem;
  padding: 15px 25px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #38618c;
  border: none;
  text-align: center;
  cursor: pointer;
}

.sr-only {
  display: none !important;
}

.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/* Header */
header {
  background: rgb(51, 51, 51);
  background: linear-gradient(90deg, rgb(51, 51, 51) 20%, rgb(115, 115, 115) 80%);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-container {
  width: calc(100% - 100px);
}

.logo-container {
  gap: 10px;
}

.logo-text {
  font-size: 2rem;
}

.logo-img-container {
  width: 100px;
  height: 100px;
}

.nav-links-container {
  gap: 30px;
}

.nav-link-item {
  list-style: none;
}

/* Home Hero */
.home-hero-section {
  height: 100vh;
  background: rgb(51, 51, 51);
  background: linear-gradient(90deg, rgb(51, 51, 51) 20%, rgb(115, 115, 115) 80%);
  position: relative;
  overflow: hidden;
}

.lines-img-container {
  position: absolute;
}
.lines-img-container.lines-1 {
  bottom: 0;
  left: 0;
  width: 700px;
  height: 700px;
}
.lines-img-container.lines-2 {
  top: 100px;
  right: 0;
  width: 850px;
  height: 850px;
}
.lines-img-container.lines-3 {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 700px;
  z-index: 100;
}
.lines-img-container.lines-4 {
  bottom: 0;
  left: 0;
  width: 600px;
  height: 600px;
}
.lines-img-container.lines-5 {
  top: 0;
  right: 0;
  width: 650px;
  height: 650px;
}

.home-hero-section-container {
  width: calc(100% - 400px);
}

.home-hero-text-container {
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 160px;
  transform: translateY(-50%);
}

.home-hero-heading-container, .home-hero-subheading-container {
  gap: 10px;
}

.home-hero-heading {
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.home-hero-subheading {
  font-size: 2rem;
  letter-spacing: 2px;
}

/* Values Section */
.values-section-container {
  gap: 150px;
}

.values-text-container {
  width: 575px;
  gap: 30px;
}

.values-heading {
  font-size: 2rem;
  margin-left: 70px;
  align-self: flex-start;
  font-weight: 600;
}

.values-list-container {
  gap: 20px;
  width: 100%;
}

.values-list-item {
  gap: 10px;
  width: 100%;
  height: 90px;
}

.values-list-point-container {
  width: 50px;
  height: 50px;
}

.values-list-text {
  width: calc(100% - 70px);
  margin-top: calc(25px - 0.8rem);
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1s;
}
.hidden.left {
  transform: translateX(-100%);
}
.hidden.right {
  transform: translateX(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
}
.show.left, .show.right {
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.values-list-item:nth-child(2), .values-list-item:nth-child(4) {
  transition-delay: 200ms;
}

.values-list-item:nth-child(3), .values-list-item:nth-child(6) {
  transition-delay: 400ms;
}

/* Tagline Section */
.home-tagline-section {
  background-color: #333333;
  padding: 0;
}

.home-tagline-container {
  height: 120px;
  width: 950px;
  justify-content: flex-start;
  gap: 30px;
}

.home-tagline-text {
  font-size: 2.5rem;
  height: 80px;
  letter-spacing: 5px;
}

.home-tagline-img-container {
  width: 100px;
  height: 100px;
}

/* Home Categories */
.home-categories-section {
  background: rgb(51, 51, 51);
  background: linear-gradient(0deg, rgb(51, 51, 51) 0%, rgb(115, 115, 115) 100%);
  position: relative;
}

.home-categories-section-container {
  gap: 30px;
}

.home-categories-container {
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.home-category-container {
  width: 675px;
  height: 275px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.home-category-heading-text-container {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.home-category-heading-text-container.left {
  left: 20px;
}

.home-category-heading-text-container.right {
  right: 20px;
}

.home-category-heading {
  font-size: 2rem;
}

.home-category-heading-container {
  width: 100%;
  height: calc(100% - 5px);
  top: 50%;
  background-color: rgba(0, 0, 0, 0.6156862745);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease;
}

.home-category-heading-container.left {
  transform: translate(-60%, -50%);
  left: 0;
  border-radius: 0 150px 150px 0;
}

.home-category-heading-container.right {
  transform: translate(60%, -50%);
  right: 0;
  border-radius: 150px 0 0 150px;
}

.home-category-container:hover .home-category-heading-container {
  transform: translate(0%, -50%);
  border-radius: 0;
}

.home-category-heading-text-container::after {
  height: 4px;
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
  width: 0;
}

.home-category-heading-text-container.left::after {
  left: 0;
}

.home-category-heading-text-container.right::after {
  right: 0;
}

.home-category-container:hover .home-category-heading-text-container::after {
  width: 100%;
}

.home-category-img-container {
  width: 100%;
  height: 100%;
}

/* Testimonial */
.testimonial-section-container {
  gap: 30px;
}

.testimonial-cards-container {
  width: 100%;
  min-height: 350px;
  position: relative;
}

.testimonial-swipe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.testimonial-swipe.testimonial-swipe-left {
  left: 0;
}
.testimonial-swipe.testimonial-swipe-right {
  right: 0;
}
.testimonial-swipe .dark-text {
  font-size: 5rem;
}

.testimonial-card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #333333;
}
.testimonial-card-container.center {
  border-radius: 15px;
  width: 500px;
  height: 350px;
  transform: translate(-50%, -50%);
}
.testimonial-card-container.center .testimonial-card-wrapper {
  padding: 80px 20px 50px 45px;
}
.testimonial-card-container.left, .testimonial-card-container.right, .testimonial-card-container.none-left, .testimonial-card-container.none-right {
  width: 300px;
  height: 210px;
  border-radius: 10px;
}
.testimonial-card-container.left .testimonial-card-wrapper, .testimonial-card-container.right .testimonial-card-wrapper, .testimonial-card-container.none-left .testimonial-card-wrapper, .testimonial-card-container.none-right .testimonial-card-wrapper {
  padding: 48px 12px 30px 27px;
}
.testimonial-card-container.left .testimonial-quote-container, .testimonial-card-container.right .testimonial-quote-container, .testimonial-card-container.none-left .testimonial-quote-container, .testimonial-card-container.none-right .testimonial-quote-container {
  left: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}
.testimonial-card-container.left .testimonial-author, .testimonial-card-container.right .testimonial-author, .testimonial-card-container.none-left .testimonial-author, .testimonial-card-container.none-right .testimonial-author {
  right: 12px;
  bottom: 12px;
}
.testimonial-card-container.left .testimonial-text, .testimonial-card-container.left .testimonial-author, .testimonial-card-container.right .testimonial-text, .testimonial-card-container.right .testimonial-author, .testimonial-card-container.none-left .testimonial-text, .testimonial-card-container.none-left .testimonial-author, .testimonial-card-container.none-right .testimonial-text, .testimonial-card-container.none-right .testimonial-author {
  font-size: 0.9rem;
}
.testimonial-card-container.left, .testimonial-card-container.right {
  cursor: pointer;
}
.testimonial-card-container.left, .testimonial-card-container.none-left {
  transform: translate(calc(-100% - 300px), -50%);
}
.testimonial-card-container.right, .testimonial-card-container.none-right {
  transform: translate(300px, -50%);
}
.testimonial-card-container.none-left, .testimonial-card-container.none-right {
  display: none;
}

.testimonial-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.testimonial-quote-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}

.testimonial-author {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.testimonial-text {
  width: 100%;
}

/* Contact CTA */
.contact-cta-section {
  background: rgb(51, 51, 51);
  background: linear-gradient(90deg, rgb(51, 51, 51) 20%, rgb(115, 115, 115) 80%);
  padding: 70px 0;
}

.contact-cta-section-container {
  gap: 30px;
}

/*# sourceMappingURL=style.css.map */
